.upload{
	height: 100vh;
	overflow-x: hidden;

	.title{
		font-size: 2.9rem;
		text-align: center;
		padding-top: 30px;
	}
	input[type="file"] {
    display: none;

}

.md-form{
display: flex;
flex-wrap: wrap;
margin-left: 105px;

.file{

	.new{
	
	}

	.file-path-wrapper{
		margin-top: 30px;
	margin-left: 175px;
}
}
}

.img{
	background-color: white;
	margin-left: 135px;
}
	.vl {
  border-left: 2px solid grey;
  height: 60vh;
  position: absolute;
  left: 90%;
  top: 15%;
  opacity: 0.5;
}


.inbuild{
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	align-items: center;


	.img1{
	margin-top: 35px;
	border-radius: 50px;
}
}
}