$color: #0cf;
.new{
    text-align: center;	
    .new5{
        padding-top: 10px;
    }

    .heading{
        text-transform: uppercase;
        z-index: 10;
        white-space: nowrap;
        line-height: 100px;
        font-size: 50px;
        font-weight: 500;
        color: black;
        letter-spacing: 0px;
    visibility: inherit;

    .sub{
        color: #0cf
    }
    }

	.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}
}